<div align="center"><h1>Closed Auctions</h1></div>

<div>
  <table class="table" style="width: 80%">
    <tr>
      <th>Component</th>
      <th>Quantity</th>
      <th>Closing Date</th>
      <th>Best Bid</th>
      <th>Winner</th>
      <th> </th>
    </tr>
    <tr *ngFor="let component of componentsAuctions">
      <td>
        {{component.componentName}}
      </td>
      <td>
        {{component.quantity}}
      </td>
      <td>
        {{component.limitTime | date: 'dd/MM/yyyy hh:mm'}}
      </td>
      <td>
        {{component.minimumBid}}
      </td>
      <td>
        {{component.winnerName}}
      </td>
    </tr>
  </table>
  
</div>

<router-outlet></router-outlet>